<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Comment</key>
		<string>Switch to Built-In on headphones plug</string>
		<key>Verb</key>
		<string>SET_PIN_WIDGET_CONTROL</string>
		<key>Node</key>
		<integer>25</integer>
		<key>Value</key>
		<integer>37</integer>
		<key>On Plug</key>
		<true/>
		<key>On Unplug</key>
		<false/>
	</dict>
</array>
</plist>
