<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.the-braveknight.alc-plug-fix</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>Program</key>
	<string>/usr/bin/alc-plug-fix</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/alc-plug-fix</string>
		<string>--config</string>
		<string>/Users/zaid/alc-plug-fix/alc-plug-fix_alc235.plist</string>
	</array>
	<key>StandardOutPath</key>
	<string>/var/log/alc-plug-fix.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/alc-plug-fix.log</string>
</dict>
</plist>
